:root {
  --min-screen-height: 1000px;
}

.App {
  margin: 0 auto;
  max-width: 1200px;
  display: grid;
  grid-template-columns: 0.75fr 1.8fr 0.6fr;
  grid-template-rows: 2.75rem 3fr;
  grid-template-areas:
    "nav nav nav"
    "sidebar content settings";
  gap: 0.6rem 0.3rem;
}

.navigation {
  display: grid;
  grid-area: nav;
  background-color: rgb(136, 178, 240);
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  padding-left: 1em;
  padding-right: 1em;
}

.sidebar {
  min-height: var(--min-screen-height);
  grid-area: sidebar;
  background-color: #f4f1de;
  padding-top: 0.75em;
  padding-left: 1em;
}

.content {
  min-height: var(--min-screen-height);
  grid-area: content;
  background-color: #e07a5f;
  padding-top: 0.75em;
  padding-left: 1em;
}

.settings {
  grid-area: settings;
  background-color: #3d405b;
  padding-top: 0.75em;
  padding-left: 1em;
  color: white;
}

.logo {
  grid-area: logo;
}

.icon {
  grid-area: icon;
  margin-left: 5px;
}

@media screen and (orientation: portrait) and (max-width: 768px) {
  .App {
    grid-template-columns: 1fr;
    grid-template-areas:
      "nav"
      "content";
  }

  nav {
    grid-template-columns: 0.1fr 0.9fr;
    grid-template-areas:
      "icon logo"
  }
}